<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613538864977-1gmlniobhh80oqm16ugo33hlrr5bl9so.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613538864977-1gmlniobhh80oqm16ugo33hlrr5bl9so</string>
	<key>API_KEY</key>
	<string>AIzaSyA0IsFEK3z0xC4o6j-D4pwihmRffNKJusk</string>
	<key>GCM_SENDER_ID</key>
	<string>613538864977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ly.itmentor.itmentor</string>
	<key>PROJECT_ID</key>
	<string>it-mentor-f477c</string>
	<key>STORAGE_BUCKET</key>
	<string>it-mentor-f477c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613538864977:ios:67d6a4c4a2f767f05c7d70</string>
	<key>DATABASE_URL</key>
	<string>https://it-mentor-f477c-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>